body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    background-color: #F6F4F1;
}

a {
    color: black;
}

.top {
    margin: 0em;
    background-color: #423E3A;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
}

#top_left{
    grid-area: left;
}

/* responsible design */
#top_left img {
    width: 100%;
}

#top_right{
    grid-area: right;
    display: grid;
    align-content: center;
    justify-content: center;
}

#top_right h1 {
    margin-bottom: 0em;
    color: white;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: xx-large;
    
}

#top_right p {
    margin-top: 0em;
    color: white;
    display: grid;
    align-content: center;
    justify-content: center;
}

h2 {
    text-align: center;
    margin: 4%;
    font-size: xx-large;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4%;
    justify-content: center;
    margin: 4%;
}

.card {
    background-color: white;
    padding: 4vw;
    text-align: center;
}

.card img{
    width: 100%;
}

.button-container{
    display: flex;
    justify-content: center;
}

button {
    text-decoration: none;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 18pt;
    cursor: pointer;
    padding: 2%;
    font-weight: bold;
    transition: .3s;
    border: none;
}

button:hover{
    background-color: #9A9796;
    transform: scale(1.1);

}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid black;
    border-width: thin;
}

textarea{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid black;
    border-width: thin;
}

footer {
    margin: 0em;
    background-color: black;
    display: grid;
    grid-template-areas: "left middle right";
}

#menu {
    color: white;
    grid-area: left;
    margin: 4%;
}

#footer_img {
    grid-area: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_info{
    grid-area: right;
    color: white;
    margin: 4%;
    text-align: right;
}

footer p{
    margin: 0px;
    font-weight: bold;

}

footer a{
    color: white;
}