* {
	float: none;
	position: static;
}

img {
	max-width: 100%;
	height: auto;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;;
}

header{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
}
nav ul{
    display: table;
    margin: 0 auto;
    padding: 0 ;
    width: 80%;
    text-align: center;
    }
    nav li{
    display: table-cell;
    min-width: 50px;
    }
    nav a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    }
    nav li:hover{
    color: #E7DA66;
    border-bottom: 3px solid #423E3A;
    }


#top {
    background-color: #745E4D;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
}

#top_left{
    grid-area: left;
}

#top_right{
    grid-area: right;
    display: grid;
    align-content: center;
    justify-content: center;
}

.top_right_content{
    margin-bottom: 0em;
    color: white;
    display: grid;
    align-content: center;
    justify-content: center;
}

h1 {
    font-size: xx-large;   
}

#about, #more{
    background-color: #F6F4F1;
    color: #745E4D;
    padding: 4%;
}

h2 {
    text-align: center;
    margin: 4%;
    font-size: xx-large;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4%;
    justify-content: center;
    margin: 4%;
    box-sizing: content-box;
}

.card {
    background-color: white;
    padding: 4%;
    text-align: center;
    color: #745E4D;
    box-sizing: border-box;
    
}

.button-container{
    display: flex;
    justify-content: center;
    position: relative;
}

button {
    text-decoration: none;
    background-color: #745E4D;
    text-align: center;
    color: white;
    font-size: 18pt;
    cursor: pointer;
    padding: 2%;
    font-weight: bold;
    transition: .3s;
    border: none;
}

button:hover{
    background-color: #9A9796;
    transform: scale(1.1);

}

#project{
    background-color: #745E4D;
    color: white;
    padding: 4%;
}

a {
    color: #745E4D;
}

#contact, #send {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #F6F4F1;
    color: #745E4D;
    padding: 4%;
    margin: 0;

}

input{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid 745E4D;
    border-width: thin;
}

textarea{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid 745E4D;
    border-width: thin;
}

footer {
    margin: 0em;
    background-color: #745E4D;
    display: grid;
    grid-template-areas: "left middle right";
}

#menu {
    color: white;
    grid-area: left;
    margin: 4%;
}

#footer_img {
    grid-area: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_info{
    grid-area: right;
    color: white;
    margin: 4%;
    text-align: right;
}

footer p{
    margin: 0px;
    font-weight: bold;

}

footer a{
    color: white;
}

@media screen and (max-width:480px){
    #top {
        margin: 0em;
        background-color: #745E4D;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "left"
        "right";
    }
    
    #top_right{
        grid-area: right;
        display: grid;
        align-content: center;
        justify-content: center;
        margin-bottom: 16px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 4%;
        box-sizing: content-box;
    }

    .contact {
        display: grid;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        
    }

   #more{
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    h2#contact{
        text-align: center;
        font-size: xx-large;
    }


}