<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a name="page_top"></a>
        <nav>
            <ul>
            <li><a href="./#page_top">Home</a>
            <li><a href="./#about">About</a>
            <li><a href="./#project">My Project</a> 
            <li><a href="./#contact">Contact</a>
            </ul>
        </nav>
    </header>

    <section id="top">
        <h1 id="top_content">Misato Seki</h1>
        <p id="top_content">IT Student</p>
        <section class="button-container" id="contact me">
            <button onclick="location.href='#contact'">Contact me</button>
        </section>
    </section>
        
    <section id="profile">
        <div class="left">
            <h2>PROFILE</h2>
            <hr>
        </div>
        <div class="right">
            <p>I am a second-year university student who has completed foundational IT studies. Currently, I am voluntarily developing several web applications using HTML, CSS, JavaScript, and other technologies. I possess strong problem-solving, project management skills and creativity, which I have cultivated through practical experience working with a local government in Japan. I am excited about challenges and eager to learn and grow in new areas.</p>
        </div>
    </section>

    <section id="education">
        <div class="left">
            <h2>EDUCATION</h2>
            <hr>
        </div>
        <div class="middle">
            <p>2022</p>
        </div>
        <div class="middle2">
            <p>2012</p>
        </div>
        <div class="right">
            <p><b>BACHELOR OF ENGINEERING, INFORMATION TECHNOLOGY</b></p>
            <p>Centria University of Applied Sciences</p>
            <ul>
                <li>Programming: The programming skills I have learned are shown on the left. I have created several programs of my own so that I can output the knowledge I have learned into practice. Currently, I am focusing on web programming, and I have created my own blog site, news site, flashcard site, chatbot app, etc. using HTML, CSS, JavaScript, Python, Node.js, Bootstranp, etc.</li>
                <li>Software Design: I learned how to use GitHub and SDLC, Agile, and Scrum methods necessary for software development. In addition, I learned about UI/UX, which is essential for enhancing customer satisfaction. When I created my News site, I used Canva and Bootstrap to create a responsive and user-friendly design.</li>
                <li>Communications: I learned about internet connection such as the TCP/IP and HTTP protocols.When I created my own blog site, I used Node.js to build a server and implement routing. When I created a site that uses the API to get news, I created a program that sends API requests and gets the response with JavaScript.</li>
                <li>My programming project can be reviewed on GitHub.</li>
            </ul>
        </div>
        <div class="right2">
            <p><b>BACHELOR OF HUMAN LIFE AND ENVIRONMENT</b></p>
            <p>Nara Women's University</p>
            <ul>
                <li>Architectural Design</li>
                <li>Structural Mechanics</li>
                <li>Architectural History and Theory</li>
            </ul>
        </div>
    </section>

    <section id="work_experience">
        <div class="left">
            <h2>WORK EXPERIENCE</h2>
            <hr>
        </div>
        <div class="middle">
            <p>2016</p>
        </div>
        <div class="right">
            <p><b>ARCHITECTURAL ENGINEER</b></p>
            <p>Nagano Prefecture / Nagano, Japan</p>
            <ul>
                <li>Construction and maintenance of public facilities such as visitor centers, high schools, police stations, etc.</li>
                <li>Gather and summarize the opinions of stakeholders such as local residents, departments in charge of buildings, designers, and builders.</li>
                <li>Look for more economical construction methods and ways to shorten the construction period, in order to ensure that construction can be carried out within budget.</li>
            </ul>
        </div>
    </section>

    <section id="skills">
        <div class="left">
            <h2>SKILLS & PROFICIENCIES</h2>
            <hr>
        </div>
        <div class="right">
            <div id="skill_content">
                <p><b>PROGRAMMING SKILLS</b></p>
                <ul>
                    <li>HTML (Intermediate)</li>
                    <li>CSS (Intermediate)</li>
                    <li>JavaScript (Basics)</li>
                    <li>Python (Basics)</li>
                    <li>C# (Intermediate)</li>
                    <li>Java (Basics)</li>
                    <li>SQL (Basics)</li>
                </ul>
            </div>
            <div id="skill_content">
                <p><b>PERSONAL SKILLS</b></p>
                <ul>
                    <li>Problem solving</li>
                    <li>Creativity</li>
                    <li>Project Management</li>
                    <li>Teamwork</li>
                    <li>Time Management</li>
                    <li>Leadership</li>
                    <li>Effective Communication</li>
                </ul>
            </div>
            <div id="skill_content">
                <p><b>LANGUAGE SKILLS</b></p>
                <ul>
                    <li>Japanese (Fluent)</li>
                    <li>English (Intermediate)</li>
                    <li>Finnish (Basics)</li>
                </ul>
            </div>
        </div>
    </section>

    <a name="contact"> </a>
    <section id="contact_info">
        <div class="left">
            <h2>CONTACT WITH ME</h2>
            <hr>
        </div>
        <div class="right">
            <p>xxxxxx@centria.fi</p>
            <a href="https://www.linkedin.com/in/misato-seki-198a16251/">LinkedIn</i></a>
            <a href="https://github.com/Misato-Seki">GitHub</a>
        </div>
    </section>

    <!-- CSS file -->
    <link rel="stylesheet" href="../../css/about.css">
</body>
</html>